.mainInfo {
    width: 100%;
}
.main__ImageLogo {
    width: 100%;
    height: 300px;
}
.mainAvatar {
    width: 150px;
    height: 150px;
    float: left;
    padding: 20px;
}

.mainInfo__Block {

}

.mainInfo__userBlock {
    display: flex;
}
.mainInfo__userInfo {
    margin-left: 20px;
    align-items: center;
}

.contacts__Images {
    width: 30px;
    height: 30px;
}
.avatar__standart {
    max-width: 200px;
    min-height: 200px;
}
