.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid #339966;
    border-radius: 25px;
    margin-top: 10px;
    padding: 5px;
}
.container img {
    width: 100px;
    height: 100px;
}
.container button {
    margin-left: 22px;
}
.box-1 {
    flex: 1;
    flex-direction: column;
}

.box-2 {
    flex: 3;
}
.box-3 {
    flex: 1;
    flex-direction: column;
}



.btnF {
    background-color: #339966;
    color: white;
    outline: none;
}
.btnU {
    background-color: darksalmon;
    color: white;
    outline: none;
}