.myPost {
    padding: 20px 0px;
}
.newPostTextForm {
    width: 100%;
    height: 100px;
    resize: none;
    border: none;
    background-color: #CCCCCC;

}

.buttonPost {
    float: right;
    background-color: #339966;
    color: white;
}