.dialogPage {
    display: grid;
    grid-template-areas: "h h"
    "dl mr";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 7fr;
    width: 900px;
}

.dialogs {
    grid-area: h;
    margin: 10px;
}

.dialogsListLeft {
    grid-area: dl;
    border-right: 1px solid #339966;
    height: auto;
}
.dialog {
    padding: 10px;
}


.messegeRight {
    grid-area: mr;
    margin: 20px;
}

.messege {
    border: solid 1px #339966;
}