.dialogPage {
    display: grid;
    grid-template-areas: "h h"
    "ml mr";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 7fr;
    width: 900px;
}

.dialogs {
    grid-area: h;
    margin: 10px;
}

.messegeListLeft {
    grid-area: ml;
    border-right: 1px solid #339966;
    height: auto;
}

.messegeListLeft ul, li {
    margin: 20px;
}

.messegeRight {
    grid-area: mr;
    margin: 20px;
}

.dialogMessege {
    border: solid 1px #339966;
}