.header {

    grid-area: h;
    background-color: #339966	;

}


.header img {
    height: 60px;
    margin: 2px;
}

.loginBlock {
    margin: 10px;
    float: right;
    color: white;
}
.loginBlock a{
    margin: 10px;
    float: right;
    color: white;
}

.btnU {
    background-color: darksalmon;
    color: white;
    outline: none;
}