.header {

    grid-area: h;
    background-color: #339966	;

}
.container {
    display: flex;
    justify-content: space-between;
}

.header img {
    height: 50px;
    margin: 10px 0 0 10px;
}

.loginBlock {
    margin: 10px;
    float: right;
    color: white;
}
.loginBlock a{
    margin: 10px;
    float: right;
    color: white;
}

.btnU {
    background-color: darksalmon;
    color: white;
    outline: none;
}

.slogan {
    font-style: italic;
    color: white;
}