.navbar {
    grid-area: nb;
    background-color: #CCCCCC;
    height: 100vh;
}
.navbar .item {
    background-color: #339966;
    margin: 5px;
    padding: 2px;
}

.item a {
    text-decoration: none;
    color: #CCCCCC;
}

.item a.activeLink {
    color: white;
}

.friendItem {
    padding: 5px;
    margin: 50px 5px 5px 5px;
    background-color: #339966;

}