.App {
  display: grid;
  grid-template-areas:
          "h h"
          "nb mc";
  grid-template-columns: 2fr 10fr;
  grid-template-rows: 64px 1fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}

.app-maincontent {
  grid-area: mc;
  background-color: white;
}